/* body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-left{
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.menu-right{

    flex-grow: 1;
    text-align: center;
    line-height: 60px;
}
.codename{
    flex-shrink: 0;
}
.work{
    display: flex;
    height: calc(100vh-60px);
    overflow: auto;
}
.box{
border: 1px solid #000;
overflow: auto;



}
.blockly{

    flex: 0 0 50%;
}
.rightside{
    display: flex;
    flex-direction: column;
    flex: 1;
}
codetext{
    flex:1;
} */